<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  


</head>
<body>
  <header>
    <div style="margin-left:10px;margin-right:10px;padding:0;border:0;float:left;">    
  <a id='sitename' href="/">Home</a>
</div>
<div style="margin-left:10px;margin-right:10px;padding:0;border:0;float:left;">    
  <a id='sitename' href="/about/">About</a>
</div>

</header>

{{insert table.html}}

<!-- Content appended here -->
