<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
  <header id="sitename">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>|</li>
        <li><a href="/about/">About</a></li>
        <li>|</li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    
</header>

{{insert table.html}}

<!-- Content appended here -->
